
body {
    background-color: rgb(14, 14, 14);
    color: rgb(235, 235, 235);
    font-family: 'Montserrat', sans-serif;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: auto 8%;
}

.logo {
    margin-top: .7em;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(202, 9, 25);
}

.ranoraLogo {
    margin-top: -.8em;
}
.items {
    text-decoration: none;
    font-size: 1.35rem;
    color:rgb(235, 235, 235);
}

li {
    list-style: none;
}

.menu {
    height: 3px;
    width: 28px;
    background-color: rgb(235, 235, 235);
    margin-bottom: .3em;
    border-radius: 5px;
    
}

@media (min-width: 1024px) {
    .top {
        margin: 1em;
    }
    .logo {
        margin-top: .7em;
        font-size: 1.3rem;
    }
    .menuContainer {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }
    .items {
        margin-left: 2em;
        padding-left: 5px;
    }
    .items:hover {
        color: rgb(161, 14, 43);
    }
    .details {
        text-align: left;
        margin-left: 40%;
    }
}

@media (max-width:1023px) {
    .logo {
        margin-top: 1rem;
    }

    .itemsContainer{
        background-color: rgb(100, 9, 27);
        height: 100vh;
        width: 50%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        transform: translateX(100%);
    }
    
    .menuTouched {
        transform: translateX(0);
        animation: navbar .8s forwards;
    }
    ul {
        margin-top: 6em;   
        margin-left: -2.5em;  
    }
    .items {
        color: rgb(235, 235, 235);
        display: block;
        padding: .7em 2em;
    }
    .items:hover {
        background-color: rgb(14, 14, 14);
        color: silver;
    }

    .menuContainer {
        position: relative;
        top: 1em;
        left: .2em;
        z-index: 30;
    }
    .m1 {
        transform: rotate(45deg);
        margin-top: .45em;
        background-color: rgb(235, 235, 235);
        animation: expandingMenu1 1s forwards;
    }
    .m2 {
        display: none;
    }
    .m3 {
        transform: rotate(-45deg);
        margin-top: -.45em;
        background-color: rgb(235, 235, 235);
        animation: expandingMenu2 1s forwards;
    }
    .chiefGuestImg {
        width: 47%;
    }
    
}

@media (min-width: 680px) and (max-width: 1023px) {   
    .top {
        margin-top: 2em;
    }
    .details {
        text-align: left;
        margin-left: 20%;
    }
    .titleImage {
        width: 45%;
    }
    #navbar {
        margin: auto 15%;
    }
}

@media (min-width:1000px) and (max-width:1300px) {
    .titleImage {
        margin-top: -1em;
        width: 30%;
    }
}

@media (min-width:730px) and (max-width:780px) {
    .name h1 {
        margin: .7em .2em .5em;
        font-size: 1.rem;
    }
    .name p {
        font-size: .6rem;
        margin-top: .4em;
    }
}

@media (min-width:360px) and (max-width:740px) {
    #HomeContent {
        margin-left: -.4em;
    }
    .top {
        margin: .5em auto; 
    }
    .titleImage {
        width: 75%;
        
    }
    .name h1 {
        margin: .7em .2em .5em;
        font-size: .9rem;
    }
    .name p {
        font-size: .55rem;
        margin-top: .4em;
    }
    .card {
        width: 200px;
    }
    .details {
        text-align: left;
        margin-left: 17%;
    }
    .middle {
        margin-top: .5em;
    }
    .date {
        padding-top: 5%;
        font-size: .9rem;
    }
    .extra {
        padding-bottom: 3%;
    }

    /* Timer */

    .timer {
        display: flex;
        margin-left: -.2em;
    }
    .timer div {
        display: grid;
        place-items: center;
        margin: -2rem .8em -.1rem;
    }
    
    .timer div p {
        font-size: 2rem;
    }
    .timer div span {
        font-size: .7em;
        margin-top: -3em;
    }
    .eventHeading {
        margin-top: .3em;
        margin-bottom: -.3em;
    }
}

/* Animation for navbar */

@keyframes navbar {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation for menu */

@keyframes expandingMenu1 {
    0% {
        width: 3px;
        height: 3px;
    }
    50% {
        width: 28px;
        height: 3px;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes expandingMenu2 {
    0% {
        width: 3px;
        height: 3px;
    }
    50% {
        width: 28px;
        height: 3px;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}


/* HomeContent */

#HomeContent {
    display: grid;
    place-items: center;
}

.middle, .name {
    display: grid;
    place-items: center;
}

.collegeName {
    font-size: 1.5rem;
    letter-spacing: 1px;
    
    animation: introLoader .6s linear;
}
.address {
    font-size: .9rem;
    margin-top: -.4em;
    animation: introLoader .6s linear;
}

.extra {
    margin-top: -.5em;
    font-size: .9rem;
    color: rgb(226, 14, 56);
    animation: introLoader .7s linear;
}

.titleImage {
    filter: drop-shadow(0 0 0.4rem rgb(255, 0, 34));
    margin-top: -5em;
    animation: introLoader .8s linear;
    
}
.dateSpan {
    color: rgb(226, 14, 56);
    animation: introLoader .8s linear;
}
/* .title {
    font-size: 4rem;
    font-style: italic;
    margin-top: -.1em;
} */
.date {
    margin-top: -1em;
    font-size: 1.1rem;
    animation: introLoader 1s linear;
}

.thanks {
    text-align: center;
    margin: auto 1em;
    line-height: 1.6;
}

    /* timer */
/* .timer {
    display: flex;
    animation: introLoader 1s linear;
}
.timer div {
    display: grid;
    place-items: center;
    margin: -2rem 1em -.1rem;
}

.timer div p {
    font-size: 2.5rem;
}
.timer div span {
    font-size: 1.1rem;
    margin-top: -3em;
} */


/* Chief Guest */

#ChiefGuests {
    display: grid;
    place-items: center;
}
.chiefGuestImg {
    filter: drop-shadow(0 0 0.4rem rgb(255, 0, 34));
}
#ChiefGuests h1 {
    color: rgb(161, 14, 43);
    font-size: 1.7em;
    font-weight: 500;
}
#ChiefGuests p {
    margin-top: -.3em;
}
#ChiefGuests h2 {
    font-size: 1.2em;
    align-items: center;
}



/* Events */

#Events {
    text-align: center;
}
.eventHeading {
    color: rgb(161, 14, 43);
    font-size: 1.7rem;
    font-weight: 500;

}
.cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}
.card {
    display: grid;
    place-items: center;
    border: 1px solid rgb(235, 235, 235);
    width: 250px;
    border-radius: 10px;
    margin: 2.4em;
}

#Events img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h1 {
    font-style: italic;
    font-weight: 500;
}

/* Buttons */

.contact {
    text-decoration: none;
    color: rgb(161, 14, 43);
    background-color: transparent;
    border: 1px solid rgb(161, 14, 43);
    padding: .8em 1.6em;
    border-radius: 10px;
    margin: 1em;
}
.contact:hover {
    color: white;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
}

.register {
    text-decoration: none;
    color: white;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
    border-radius: 10px;
    padding: .8em 1.6em;
}
.register:hover {
    color: rgb(161, 14, 43);
    background-color: transparent;
    border-color: rgb(161, 14, 43);
}
.buttonHome {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.moreDetails {
    text-decoration: none;
    color: white;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
    border-radius: 10px;
    padding: .8em 1.6em;
    margin: .5em 1.5rem 1.5em;
} 

.moreDetails:hover {
    color: rgb(161, 14, 43);
    background-color: transparent;
    border-color: rgb(161, 14, 43);
}


/* Co-ordinators */

#co-ordinators {
    text-align: center;
}

.container5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.container6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}
.container7 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.h2-c {
    margin-top: 2em;
    margin-bottom: -.1em;
    color: rgb(161, 14, 43);
}
.co-ordinator p {
    padding-bottom: 1em;
}

/* Contact */

#Contact {
    text-align: center;
}
#Contact h3 {
    font-weight: 500;
    letter-spacing: 1px;
}
.headingContact {
    color: rgb(161, 14, 43);
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1em;

}


.details a {
    text-decoration: none;
    color: rgb(235, 11, 56);
    animation: blink 1s infinite linear;
    font-size: 1.3rem;
    font-weight: bold;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: .3;
    }
}

.icons {
    color: rgb(141, 7, 34);
    margin: .4em;
    font-size: 2.7rem;
}

.icons:hover {
    color: rgb(255, 0, 51);
    font-size: 2.8rem;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }


/* @keyframes introLoader {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
} */

@keyframes introLoader {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}