html {
    overflow-x: hidden;
}

body {
    text-align: center;
    color: rgb(235, 235, 235);
    background-color: rgb(14, 14, 14);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container1 {
    margin: 0 13em;
}
.h1-c1 {
    color: rgb(161, 14, 43);
    font-size: 2rem;
    letter-spacing: 1px;
}
.h2-c1 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 100;
}
.h2-c2 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 2em 1.5em 1.5em;
    font-weight: 100;
}
.h3-c3 { 
    margin: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
}

ul {
    text-align: left;
    line-height: 2;
    margin-bottom: 3em;
}
li {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: -2em;
}
.contact {
    text-decoration: none;
    color: rgb(161, 14, 43);
    background-color: transparent;
    border: 1px solid rgb(161, 14, 43);
    padding: .8em 1.6em;
    border-radius: 10px;
}
.contact:hover {
    color: white;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
}

.register {
    text-decoration: none;
    color: white;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
    border-radius: 10px;
    padding: .8em 1.6em;
}
.register:hover {
    color: rgb(161, 14, 43);
    background-color: transparent;
    border-color: rgb(161, 14, 43);
}


.back {
    text-decoration: none;
    color: white;
}
.backDiv {
    height: 60px;
    width: 60px;
    background-color: rgb(117, 5, 27);
    border: 1px solid rgb(117, 5, 27);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container2 {
    margin-bottom: 5em;
}

.adzap li::marker {
    content: "🎬 ";
}
.battleOfBands li::marker {
    content: "🥁 ";
}
.danceBattle li::marker {
    content: "🕺🏾 ";
}
.letsReels li::marker {
    content: "📽 ";
}
.photography li::marker {
    content: "📸 ";
}
.soloDance li::marker {
    content: "💃🏿 ";
}
.soloInstrumental li::marker {
    content: "🎸 ";
}
.soloSinging li::marker {
    content: "🎤 ";
}


@media (max-width:740px) {
    .container1 {
        margin: 0 1em;
    }
    .h1-c1 {
        font-size: 1.6rem;
    }
    .h2-c1 {
        font-size: 1.4rem;
    }
    .h2-c2 {
        font-size: 1.4rem;
    }
    li {
        font-size: 1rem;
    }
    .container2 {
        margin-left: -5em;
    }
}
@media (min-width:740px) and (max-width:1023px) {
    .container1 {
        margin: 0 5em;
    }
}